body{
    background: rgb(22, 21, 21);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}
#container{
    width: 98%;
    margin: 10px;
    color: white;
}

header{
    background: rgb(36, 34, 34);
    height: 80px;
    text-align: center;
    border: 1.5px solid black;
}

nav{
    background: rgb(139, 136, 136);
    height: 50px;
    border: 1.5px solid black;
}

nav ul li{
        float: left;
        list-style: none;
        margin: 10px;
        font-size: 20px; 
        line-height: 0px;
}
.juego1{
    width: 250px;
    position: relative;
    top: 15px;
    border: 1.5px solid black;
    background-color: pink;
    margin: 12px;
    height: 350px;
}
.juego1 label{
   color: white;
   position: relative;
   font-size: 18px;
   left: 10px;
   top: 5px;
}
.juego2{
   width: 250px;
   position: relative;
   top: 15px;
   border: 1.5px solid black;
   background-color: pink;
   margin: 12px;
   height: 350px;
   left: 320px;
   bottom: 350px;
   transform: translate(0, -103.5%);
}
.juego2 label{
   color: white;
   position: relative;
   font-size: 18px;
   left: 10px;
   top: 5px;
}
footer{
    position: relative;
    right: 8px;
    top: 8px;
    width: 1348px;
    height: 250px;
    background: rgb(14, 14, 14);
 }
 footer h2{
    color: rgb(92, 88, 88);
    text-align: center;
    position: relative;
    top: 10px;
 }
 footer .ig{
    position: relative;
    height: 30px;
    left: 575px;
    width: 50px;
    top: 10px;
 }

 footer .fc{
   position: relative;
   bottom: 20px;
   height: 20px;
   width: 50px;
   left: 640px;
}

footer .redit{
   position: relative;
   bottom: 40px;
   height: 30px;
   width: 50px;
   left: 705px;
}
footer .copy{
   position: relative;
   text-align: center;
   width: 50px;
   top: 50px;
   height: 30px;
   left: 485px;
   color: rgb(92, 88, 88);
   font-size: 18px;
}
footer .donar{
   position: relative;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   color: rgb(92, 88, 88);
   border-bottom: blanchedalmond;
   text-align: center;
   left: 150px;
   top:80px;
}
footer .panas{
   position: relative;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   color: rgb(92, 88, 88);
   border-bottom: blanchedalmond;
   text-align: center;
   left: 225px;
   top:80px;
}
footer a{
   color: rgb(92, 88, 88);
}
